# Environment variables (RAHASIA - jangan di-push!)
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual Environment
venv/
env/
.venv/

# Upload files (file PDF mahasiswa)
uploads/

# VS Code
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
